body{
  font-family:serif ;
  background-color: black;
}

h1{
  font-size:1.2em;
  text-align:left;
}

.panel{
  background:rgba(242, 244, 245, 0.699);
  padding:1em;
  width:92.5%;
  margin:auto;
  max-width:30em;
}

input[type="submit"] {
  padding: left;
  padding-left: 1em;
  font-weight: bold;
  font-size: 1em;
  color: rgb(240, 235, 235);
  background-color: rgb(18, 18, 19);
}

input{
  width:100%;
  box-sizing:border-box;
   font-size:  1em;
  margin-top:0.5em;
  padding:0.5em;
}

input:focus{
  outline:none;
}

input::after{
  width:100%;
  height:10px;
  background:rgb(235, 20, 4);
  
}

.nav-list{
  width:92.5%;
  max-width:60em;
  text-align:justify;
  margin:length;
  background-color: rgb(10, 10, 49);
  font-size: medium;
  font-style: bold;
  
}
li{
    list-style:none;;
    display:inline-block;
      background:rgba(256,256,256,0.5);
      padding:0.7em;
      margin:0 0.1em;
      
    }
    li.active{
        background-color:rgba(256,256,256,0.95);
      }